@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'GowunDodum-Regular';
}


.container{
  width: 70%;
  margin: 0 auto;
}

/* ---------------------------------------------------------------- */
/* 에러메세지 디자인 */

.error-Msg{
  font-size: 0.7rem;
  color: red;
  font-style: italic;
}